html {
  font-size: 100%;
  box-sizing: border-box;

  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color2;

  background-image: $body-bg-image1, $body-bg-image2;
  background-repeat: no-repeat;
  @media (max-width: 767px) {
    background-position: -710px -600px, 210px 300px;
  }
  @media (min-width: 768px) {
    background-position: -275px -500px, 675px 378px;
  }

  // background-size: 61%;

  // background-image: $bg_small;
  // background-repeat: no-repeat;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0px;
  margin: auto;
  color: white;
  font-size: 10px;
  margin: 3px;
}
