.pcard {
  width: $pcard-width;
  height: $pcard-height;
  border-radius: 12px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-header {
    height: 140px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: $pcard-bgimage;
  }

  &-body {
    text-align: -webkit-center;
    height: 145px;
    background-color: $pcard-bgcolor;

    &-photo {
      width: 100px;
      height: 100px;
      position: relative;
      top: -50px;
      border-radius: 50px;
      border: solid 5px white;
    }
    &-row {
      position: relative;
      top: -35px;
    }
    &-name {
      font-weight: 700;
    }

    &-city {
      font-size: 13px;
      position: relative;
      top: -25px;
    }
  }

  &-footer {
    height: 89px;
    background-color: $pcard-bgcolor;
    border-top: solid 1px $color3;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 100%;
    span {
      width: 33%;
      display: block;
      float: left;
      letter-spacing: 1px;
    }
    &-row {
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 28px;
      span {
        letter-spacing: normal;
      }
    }

    &-row2 {
      font-weight: 400;
      font-size: 9px;
      text-align: center;
      position: relative;
      top: 6px;
    }
  }
}
