$color: hsl(229, 23%, 23%);
$color2: hsla(185, 75%, 39%, 1);
$color3: hsla(227, 10%, 46%, 0.7);

$body-bg-image1: url("/images/bg-pattern-top.svg");
$body-bg-image2: url("/images/bg-pattern-bottom.svg");
$body-bg-color: #19a1ad;

$pcard-width: 350px;
$pcard-height: 375px;
$pcard-bgcolor: white;
$pcard-bgimage: url("/images/bg-pattern-card.svg");
$pcard-photo: url("/images/image-victor.jpg");
