$color: hsl(229, 23%, 23%);
$color2: hsla(185, 75%, 39%, 1);
$color3: hsla(227, 10%, 46%, 0.1);

$body-bg-image1: url("/images/bg-pattern-top.svg");
$body-bg-image2: url("/images/bg-pattern-bottom.svg");
$bg: url("/images/circle_bg.png");
$bg_small: url("/images/circle_bg_small.png");
$body-bg-color: #19a1ad;

$pcard-bgcolor: white;
$pcard-bgimage: url("/images/bg-pattern-card.svg");
$pcard-photo: url("/images/image-victor.jpg");
